[Unit]
Description=Led Sports Scores Ticker
Requires=network-online.target
After=network-online.target
Conflicts=scores-ticker.service
StartLimitIntervalSec=5
StartLimitBurst=10

[Service]
ExecStart=/usr/bin/python3 /home/pi/led-sports-score-ticker/ticker/scores_ticker.py
Environment=PYTHONUNBUFFERED=1
User=root
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
