[Unit]
Description=Led Sports Scores Ticker
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/led-sports-score-ticker/scores_ticker/scores_ticker.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
